<a href="https://colab.research.google.com/github/komalk98/indianfood/blob/main/indianfood.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np 
import plotly.express as px
from plotly.offline import init_notebook_mode
from matplotlib import pyplot as plt 
%matplotlib inline 
from wordcloud import wordcloud, ImageColorGenerator

In [3]:
data = pd.read_csv('/content/sample_data/indian_food.csv')
data

               name  ...      region
0        Balu shahi  ...        East
1            Boondi  ...        West
2    Gajar ka halwa  ...       North
3            Ghevar  ...        West
4       Gulab jamun  ...        East
..              ...  ...         ...
250       Til Pitha  ...  North East
251         Bebinca  ...        West
252          Shufta  ...       North
253       Mawa Bati  ...     Central
254          Pinaca  ...        West

[255 rows x 9 columns]

In [4]:
data.head(3)

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North

[3 rows x 9 columns]

In [5]:
data.columns

Index(['name', 'ingredients', 'diet', 'prep_time', 'cook_time',
       'flavor_profile', 'course', 'state', 'region'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [10]:
data.isnull().any()

name              False
ingredients       False
diet              False
prep_time         False
cook_time         False
flavor_profile    False
course            False
state             False
region             True
dtype: bool

In [12]:
data.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [13]:
data = data.replace(-1,np.nan)
data = data.replace('-1',np.nan)

In [17]:
data.isnull().sum()

name               0
ingredients        0
diet               0
prep_time         30
cook_time         28
flavor_profile    29
course             0
state             24
region            14
dtype: int64

In [19]:
data.shape

(255, 9)

In [42]:
piedata = data.diet.value_counts().reset_index()
piedata

            index  diet
0      vegetarian   226
1  non vegetarian    29

In [36]:
piedata.columns = ['diet','count']
fig = px.pie(piedata, values='count', names='diet', title='veg and non-veg piechart', color_discrete_sequence=['black','red'])
fig.show()

In [40]:
cktime = data[['cook_time','name']]
cktime.head(10)

   cook_time            name
0       25.0      Balu shahi
1       30.0          Boondi
2       60.0  Gajar ka halwa
3       30.0          Ghevar
4       40.0     Gulab jamun
5       50.0          Imarti
6       50.0          Jalebi
7       20.0      Kaju katli
8       30.0        Kalakand
9       40.0           Kheer